body {
    background-color: rgb(230, 252, 255); 
    color: rgb(0, 3, 155); 
    font-family: Arial; 
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom,rgb(207, 182, 253), rgb(243, 191, 228), rgb(216, 143, 226), blueviolet);
    color: aliceblue; 
    padding: 5px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right , red, orange, yellow, green,blue,violet);
    color: aliceblue; 
    padding: 5px;
    font-size: 11pt;
    font-style: italic;
    text-align: right;
}

a {
    color: rgb(0, 180, 39);
    text-decoration: none;
}

a:visited {
    color:blueviolet;
    background-color:gray ;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color:pink;
    background-color:greenyellow;
}

